/* Cambio: Añadir una fuente de Google Fonts para un aspecto más moderno */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos del buscador */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  max-width: 300px; /* Limitar el ancho del input */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  border-right: none;
  box-sizing: border-box; /* Incluir el padding y border en el width */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box; /* Incluir el padding y border en el width */
}

/* Estilos de los resultados */
.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mostrar máximo 4 columnas */
  grid-gap: 20px;
  justify-content: center; /* Alinear al centro */
}

.movie {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.movie h2 {
  font-size: 18px;
  margin: 10px;
}

.movie p {
  margin: 5px 10px;
  color: #666;
}

@media only screen and (max-width: 900px) {
  .results-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  }
}

@media only screen and (max-width: 600px) {
  input[type="text"] {
      width: 100%;
      max-width: none; /* Quitar el límite de ancho del input en pantallas pequeñas */
  }

  .results-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Mostrar máximo 4 columnas en pantallas pequeñas */
  }

  .movie h2 {
      font-size: 16px;
  }

  .movie p {
      font-size: 14px;
  }
}